{% extends 'base.html.twig' %}
{% form_theme lieuForm 'bootstrap_5_layout.html.twig' %}

{% block title %}
    Créer Lieu | {{ parent() }}
{% endblock %}

{% block body %}

    {{ render(path('lieu_list', {max: 30})) }}

    <div class="m-auto w-50">
        {{ form_start(lieuForm) }}
        <h1 class="h1">Créez un lieu :</h1>
        {{ form_widget(lieuForm) }}
        <button type="submit" class="btn btn-primary">
            {{ button_label|default('Enregistrer') }}
        </button >
        <a href="{{ path('ville_creer') }}" class="btn btn-warning">
            Annuler
        </a>
        {{ form_end(lieuForm) }}
    </div>
{% endblock %}
