{% extends 'base.html.twig' %}

{% block title %}{{ user.prenom }} | Mon Profil{% endblock %}


{% block body %}

    <div class="Container_Details_profil">
        <h1>Détails du profil :</h1>
        <div class="Details_profil">
            <div>
                <img src="{{ asset('uploads/' ~ user.photo ) }}" alt="photo de profil">
            </div>
            <div class="Form_Details_profil">
                <h2>{{ user.prenom }}</h2>

                <p>Prénom : {{ user.prenom }}</p>
                <p>Nom : {{ user.nom }}</p>
                <p>Téléphone : {{ user.telephone }}</p>
                <p>Email : {{ user.email }}</p>
                <p>Campus : {{ user.campus.name }} </p>
                    <div class="Buttons_Details_profil">
                        <a href="{{ path('modifier_profil', {'id': user.id}) }}">
                        <button class="btn1profil" type="submit">Modifier</button>
                        </a>
                        <a href="{{ path('main_home') }}" >
                        <button class="btn2profil">Retour</button>
                        </a>
                        <button class="btn3profil" onclick="document.getElementById('modal-suppr').style.display='block'">
                            Supprimer
                        </button>
                    </div>

                    <div id="modal-suppr" class="modal">
                        <span onclick="document.getElementById('modal-suppr').style.display='none'" class="close" title="Close Modal">
                            ×
                        </span>
                        <form class="modal-content" action="{{ path('delete', {'id': user.id}) }}">
                            <div class="container_modal_delete">
                                <h1>Supprimer Profil</h1>
                                <p>Êtes-vous sûr de vouloir supprimer ce profil ?</p>

                                <div class="Buttons_Modal_profil">
                                    <button type="button" onclick="document.getElementById('modal-suppr').style.display='none'" class="cancelbtn_profil">
                                        Retour
                                    </button>
                                    <button type="button" onclick="location.href='{{ path('delete_user', {'id': user.id}) }}'" class="deletebtn_profil">
                                        Supprimer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
