{% extends 'base.html.twig' %}

{% block title %}
    Profil : {{ user.prenom }} | {{ parent() }}
{% endblock %}

{% block body %}

    <main class="m-auto container">
        <h1 class="h1 text-center">Détails du profil :</h1>
        <hr>
        <section class="d-flex justify-content-around">
            <aside>
                <img src="" alt="photo de profil">
            </aside>
            <article>
                <h2 class="ps-5">{{ user.prenom }}</h2>

                <p>Prénom : {{ user.prenom }}</p>
                <p>Nom : {{ user.nom }}</p>
                <p>Téléphone : {{ user.telephone }}</p>
                <p>Email : {{ user.email }}</p>
                <p>Campus : {{ user.campus.name }} </p>
                <hr>
                <section>
                    <p>
                        <a href="{{ path('modifier_profil', {'id': user.id}) }}">
                            <button class="btn btn-primary" type="submit">
                                Modifier
                            </button>
                        </a>
                    </p>
                    <p>
                        <a href="{{ path('main_home') }}" class="btn btn-warning">
                            Retour
                        </a>
                    </p>

                    <button class="btn btn-danger" onclick="document.getElementById('modal-suppr').style.display='block'">
                        Supprimer
                    </button>

                    <div id="modal-suppr" class="modal">
                        <span onclick="document.getElementById('modal-suppr').style.display='none'" class="close" title="Close Modal">
                            ×
                        </span>
                        <form class="modal-content" action="{{ path('delete', {'id': user.id}) }}">
                            <div class="container">
                                <h1>Delete Item</h1>
                                <p>Are you sure you want to delete your item?</p>

                                <div class="clearfix">
                                    <button type="button" onclick="document.getElementById('modal-suppr').style.display='none'" class="cancelbtn">
                                        Cancel
                                    </button>
                                    <button type="button" onclick="location.href='{{ path('delete_user', {'id': user.id}) }}'" class="deletebtn">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </article>
        </section>
    </main>
{% endblock %}
