{% extends 'base.html.twig' %}


{% block title %}
    Modifier {{ user.prenom }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="Container_Modifier_profil">
        <h1>Modifier le profil : </h1>
        {{ form_start(profilUpdateForm) }}
            {{ form_widget(profilUpdateForm) }}

        <div class="Buttons_Modifier_profil">
            <button class="btn1ModifierProfil" type="submit">
                Enregistrer
            </button>
            <button TYPE="reset" onclick="history.back()" class="btn2ModifierProfil">
                Annuler
            </button>
        </div>

        {{ form_end(profilUpdateForm) }}

    </div>
{% endblock %}

