{% extends 'base.html.twig' %}
{% form_theme campusForm 'bootstrap_5_layout.html.twig' %}

{% block title %}New Campus{% endblock %}

{% block body %}

    <div class="Container_Form_Create_Campus">
        <h1>Créer un nouveau Campus :</h1>
            {{ form_start(campusForm) }}
                {{ form_widget(campusForm) }}

        <div class="Buttons_Form_register">
            <button type="submit" class="Campus_Admin_btn1">
                {{ button_label|default('Enregistrer') }}
            </button >
            <a href="{{ path('campus_list') }}" >
                <button class="Tab_Campus_Admin_btn1">Retour</button>
            </a>
        </div>

            {{ form_end(campusForm) }}
    </div>

{% endblock %}
