{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block body %}

    <div class="Campus_Admin">
        <h1>Campus :</h1>
        <div class="Tab_Campus_Admin">
            <table>
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ campus.id }}</td>
                    <td>{{ campus.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="Buttons_Details_profil">
            <a href="{{ path('campus_modifier', {'id': campus.id}) }}" >
                <button class="btn1profil">Modifier</button>
            </a>
            <a href="{{ path('campus_list') }}">
                <button class="btn2profil" >Retour</button>
            </a>
                <button class="btn3profil" onclick="document.getElementById('modal-suppr').style.display='block'">
                    Supprimer
                </button>
        </div>

            <div id="modal-suppr" class="modal">
                        <span onclick="document.getElementById('modal-suppr').style.display='none'" class="close" title="Close Modal">
                            ×
                        </span>
                <form class="modal-content" action="{{ path('campus_supprimer', {'id': campus.id}) }}">
                    <div class="container_modal_delete">
                        <h1>Supprimer Campus</h1>
                        <p>Êtes-vous sûr de vouloir supprimer ce Campus ?</p>

                        <div class="Buttons_Modal_profil">
                            <button type="button" onclick="document.getElementById('modal-suppr').style.display='none'" class="cancelbtn_profil">
                                Retour
                            </button>
                            <button type="button" onclick="location.href='{{ path('campus_supprimer', {'id': campus.id}) }}'" class="deletebtn_profil">
                                Supprimer
                            </button>
                        </div>
                    </div>
                </form>
            </div>
    </div>

{% endblock %}

