{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.prenom }}! | Campus{% endblock %}

{% block body %}
    <div class="Campus_Admin">
        <h1>Liste des Campus :</h1>

        <div class="Filtrer_Campus_Admin">
            <h2>Filtrer les sites</h2>
            <label for="">Le nom contient :
                <input type="text">
            </label>
            <button class="Filtrer_Campus_Admin_btn1">Rechercher</button>
        </div>

        <div class="Tab_Campus_Admin">
            <table>
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for campus in campuses %}
                    <tr>
                        <td>{{ campus.id }}</td>
                        <td>{{ campus.name }}</td>
                        <td>
                            <a href="{{ path('campus_details', {'id': campus.id}) }}">
                                <button class="Tab_Campus_Admin_btn1">Détails</button>
                            </a>
                            <a href="{{ path('campus_modifier', {'id': campus.id}) }}">
                                <button class="Tab_Campus_Admin_btn2">Modifier</button>
                            </a>
                            <button class="btn3profil" onclick="document.getElementById('modal-suppr').style.display='block'">
                                Supprimer
                            </button>
                        </td>
                        <div id="modal-suppr" class="modal">
                        <span onclick="document.getElementById('modal-suppr').style.display='none'" class="close" title="Close Modal">
                            ×
                        </span>
                            <form class="modal-content" method="post" action="{{ path('campus_supprimer', {'id': campus.id}) }}">
                                <div class="container_modal_delete">
                                    <h1>Supprimer Campus</h1>
                                    <p>Êtes-vous sûr de vouloir supprimer ce Campus ?</p>

                                    <div class="Buttons_Modal_profil">
                                        <button type="button" onclick="document.getElementById('modal-suppr').style.display='none'" class="cancelbtn_profil">
                                            Retour
                                        </button>
                                        <button type="submit" onclick="location.href='{{ path('campus_supprimer', {'id': campus.id}) }}'" class="deletebtn_profil">
                                            Supprimer
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucun campus trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

            <a href="{{ path('campus_creer') }}" >
                <button class="Campus_Admin_btn1">Créer un campus</button>
            </a>
    </div>
{% endblock %}
