{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Modifier Campus{% endblock %}

{% block body %}

    <div class="Container_Form_Create_Campus">
        <h1>Modifier le Campus :</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}

        <div class="Buttons_Form_register">
            <button type="submit" class="btn1profil">
                {{ button_label|default('Enregistrer') }}
            </button>
            <a href="{{ path('campus_list') }}">
                <button class="btn2profil" >Retour</button>
            </a>
            <button class="btn3profil" onclick="document.getElementById('modal-suppr').style.display='block'">
                Supprimer
            </button>
        </div>

        {{ form_end(form) }}


        <div id="modal-suppr" class="modal">
                        <span onclick="document.getElementById('modal-suppr').style.display='none'" class="close" title="Close Modal">
                            ×
                        </span>
            <form class="modal-content" method="post" action="{{ path('campus_supprimer', {'id': campus.id}) }}">
                <div class="container_modal_delete">
                    <h1>Supprimer Campus</h1>
                    <p>Êtes-vous sûr de vouloir supprimer ce Campus ?</p>

                    <div class="Buttons_Modal_profil">
                        <button type="button" onclick="document.getElementById('modal-suppr').style.display='none'" class="cancelbtn_profil">
                            Retour
                        </button>
                        <button type="submit" onclick="location.href='{{ path('campus_supprimer', {'id': campus.id}) }}'" class="deletebtn_profil">
                            Supprimer
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
