{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Modifier Campus{% endblock %}

{% block body %}

    <div class="Container_Form_Create_Campus">
        <h1>Modifier le Campus :</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}

        <div class="Buttons_Form_register">
            <button type="submit" class="btn1profil">
                {{ button_label|default('Enregistrer') }}
            </button>
            <a href="{{ path('campus_details', {'id': campus.id}) }}" class="btn btn2profil" >
                Annuler
            </a>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
