{% extends 'base.html.twig' %}

{% block title %}
    Liste des Alumni
{% endblock %}

{% block body %}

    <div class="Campus_Admin">
        <h1 class="h1">Liste des Alumni :</h1>
        <div class="Filtrer_Campus_Admin">
            <h2>Filtrer les alumni</h2>
            {% include 'inc/Filtre_Alumni.html.twig' with {form: form} only %}
        </div>

        <div  class="Tab_Campus_Admin">
            <table>
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Campus</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.campus.name }}</td>
                        <td>
                            <a href="{{ path('details_profil', {'id': user.id}) }}">
                                <button class="Tab_Campus_Admin_btn1">Détails</button>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucun campus trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_register') }}" >
            <button class="Campus_Admin_btn1">Inscrire un alumnus</button>
        </a>
    </div>

{% endblock %}

