{% extends 'base.html.twig' %}

{% block title %}
    {{ parent () }} | Créer une sortie
{% endblock %}

{% block body %}
    <div class="Container_Form_sortie">
        <h1>Créer une sortie</h1>
        <div class="Sortie_Form">
            <div class="Form_sortie1">

                {{ form_start(sortieForm) }}

                {{ form_row(sortieForm.nom) }}
                {{ form_row(sortieForm.dateDebut) }}
                {{ form_row(sortieForm.dateLimiteInscription) }}
                {{ form_row(sortieForm.nbInscriptionMax) }}
                {{ form_row(sortieForm.duree) }}
                {{ form_row(sortieForm.infosSortie) }}


            </div>
            <div class="Side_droite_sortie">
                {{ form_row(sortieForm.ville) }}
                <datalist id="list_villes"></datalist>
                {{ form_row(sortieForm.codePostal) }}
                {{ form_row(sortieForm.lieu) }}
                {{ form_row(sortieForm.rue) }}
                <datalist id="list_rues"></datalist>
                {{ form_row(sortieForm.latitude) }}
                {{ form_row(sortieForm.longitude) }}


                <button type="submit">Submit</button>
                {{ form_end(sortieForm) }}
            </div>
        </div>

      {# <div class="Sortie_btn">
         <button class="btn1sortie" type="submit" id="btn_validerSortie">Enregistrer</button>
         <button class="btn2sortie">Publier la sortie</button>
         <button class="btn3sortie">Annuler</button>
        </div> #}
    </div>

{% endblock %}



{% block stylesheet %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous">
    </script>
    {# <script src="../../public/js/scriptVilles.js"></script> #}
    <script src="../../public/js/SortieForm.js"></script>

{% endblock %}