{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="Login_Form col-6">
                {{ form_start(sortieForm) }}

                {{ form_widget(sortieForm) }}
                <button class="btn-success">Enregistrer</button>

                {{ form_end(sortieForm) }}
            </div>

            <div class="Login_Form col-6">
                {{ form_start(villeForm) }}

                {{ form_widget(villeForm) }}
                <div style="display: none; color: #f55;" id="error-message"></div>

                {{ form_end(villeForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Créer une sortie
{% endblock %}

{% block stylesheet %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous">
    </script>
    <script src="../../public/js/scriptVilles.js"></script>

{% endblock %}