{% extends 'base.html.twig' %}

{% block title %}
    {{ parent () }} | Créer une sortie
{% endblock %}

{% block body %}
    <div class="Container_Form_sortie">
        <h1>Créer une sortie</h1>
        <div class="Sortie_Form">
            <div class="Form_sortie1">

                {{ form_start(sortieForm, {'id': 'form_sortie'}) }}

                {{ form_widget(sortieForm) }}

                {{ form_end(sortieForm) }}
            </div>
            <div class="Side_droite_sortie">
                {# <div class="Form_sortie2">
                    {{ form_start(lieuForm) }}

                    {{ form_widget(lieuForm) }}


                    {{ form_end(lieuForm) }}
                </div> #}
                <div class="Form_sortie3">
                    {{ form_start(villeForm) }}

                    {{ form_widget(villeForm) }}
                    <div style="display: none; color: #f55;" id="error-message"></div>

                    {{ form_end(villeForm) }}
                </div>
            </div>
        </div>

       <div class="Sortie_btn">
         <button class="btn1sortie" type="submit" id="btn_validerSortie">Enregistrer</button>
         <button class="btn2sortie">Publier la sortie</button>
         <button class="btn3sortie">Annuler</button>
        </div>
    </div>

{% endblock %}



{% block stylesheet %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous">
    </script>
    <script src="../../public/js/scriptVilles.js"></script>

{% endblock %}