
<div class="m-auto">



    <table class="Table_home">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date - Heure</th>
            <th>Clôture</th>
            <th>Places</th>
            <th>État</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for sortie in sorties %}
            {% if (sortie.published or sortie.organisateur == app.user.prenom or sortie.users.contains(app.user)) %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateDebut|date('d/m/y - H:m') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ sortie.nbInscriptionMax }}/{{ sortie.nbInscriptionMax + sortie.users.count }}</td>
                    <td>
                        {% if (sortie.canceled) %}
                            Annulée
                            {% elseif (sortie.dateLimiteInscription|date('d/m/Y') < "now"|date("d/m/Y") or sortie.nbInscriptionMax < 1) %}
                            Fermé
                            {% elseif (sortie.dateLimiteInscription|date('d/m/Y') > "now"|date("d/m/Y")) %}
                            Ouvert
                            {% else %}
                            En cours
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if (sortie.users.contains(app.user)) %}
                            x
                        {% endif %}
                    </td>
                    <td>{{ sortie.organisateur }}</td>
                    <td>
                        {% if (sortie.organisateur == app.user.prenom) %}
                            {% if (sortie.published) %}
                                <a href="{{ path('sortie_details', {'id': sortie.id}) }}">
                                    <button class="Tab_Campus_Admin_btn1">Afficher</button>
                                </a>
                                {% if (sortie.canceled or sortie.dateLimiteInscription|date('d/m/Y') < "now"|date("d/m/Y")) %}

                                {% else %}
                                <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">
                                    <button class="btnSupprimerCampus">Annuler</button>
                                </a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('sortie_modifer', {'id': sortie.id}) }}">
                                    <button class="Tab_Campus_Admin_btn2">Modifier</button>
                                </a>
                                <form method="post" action="{{ path('sortie_publier', {'id': sortie.id}) }}"
                                      onsubmit="return confirm('Êtes-vous sûr de vouloir publier cette sortie ?');">
                                    <button type="submit" class="Tab_Campus_Admin_btn1">Publier</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('sortie_details', {'id': sortie.id}) }}">
                                <button class="Tab_Campus_Admin_btn1">Afficher</button>
                            </a>
                            {% if (sortie.users.contains(app.user)) %}
                                <form method="post" action="{{ path('sortie_desister', {'id': sortie.id, 'idu': app.user.id}) }}"
                                      onsubmit="return confirm('Êtes-vous sûr de vouloir vous désister pour cette sortie ?');">
                                    <button type="submit" class="Tab_Campus_Admin_btn2">Se désister</button>
                                </form>
                            {% elseif (sortie.canceled or sortie.dateLimiteInscription|date('d/m/Y') < "now"|date("d/m/Y")  or sortie.nbInscriptionMax < 1) %}

                            {% else %}
                                <form method="post" action="{{ path('sortie_participer', {'id': sortie.id, 'idu': app.user.id}) }}"
                                      onsubmit="return confirm('Êtes-vous sûr de vouloir participer à cette sortie ?');">
                                    <button type="submit" class="Tab_Campus_Admin_btn1">Participer</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td>Aucune Sortie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <div class="col">
        {% if is_granted("ROLE_USER") %}
            <a href="{{ path('ville_creer') }}" >
                <button class="btn1Home">Créer une sortie</button>
            </a>
        {% endif %}
    </div>


</div>