{% extends 'base.html.twig' %}
{% form_theme villeForm 'bootstrap_5_layout.html.twig' %}

{% block title %}
    Créer Ville | {{ parent() }}
{% endblock %}

{% block body %}

    <div class="m-auto justify-content-center w-50">
        {{ render(path('ville_list', {max: 30})) }}
    </div>

    <div class="m-auto w-50">
        {{ form_start(villeForm) }}
        <h1 class="h1">Créez une ville :</h1>
        {{ form_widget(villeForm) }}
        <button type="submit" class="btn btn-primary">
            {{ button_label|default('Enregistrer') }}
        </button >
        <a href="{{ path('main_home') }}" class="btn btn-warning">
            Annuler
        </a>
        {{ form_end(villeForm) }}
    </div>
{% endblock %}