{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Modifier Ville | {{ parent() }}{% endblock %}

{% block body %}

    <div class="container m-auto w-50">
        {{ form_start(form) }}
        <h1 class="h1 text-center">Modifier la ville :</h1>
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            {{ button_label|default('Enregistrer') }}
        </button>
        <button TYPE="reset" onclick="history.back()" class="Modifier_Campus_Admin_btn1">
            Retour
        </button>
        {{ form_end(form) }}
    </div>

{% endblock %}

